<strong>Olá, recebemos um novo contato pelo site do Laboratório Sobral:</strong>

<P><strong style="color: #a20000; font-size: 16px; ">REMETENTE: </strong> {{name}}</P>
<P><strong style="color: #a20000; font-size: 16px; ">TELEFONE: </strong>{{tel}}</P>
<P><strong style="color: #a20000; font-size: 16px; ">E-MAIL:</strong> {{email}}</P>
<P><strong style="color: #a20000; font-size: 16px; ">ASSUNTO: </strong>{{subject}}</P>
<P><strong style="color: #a20000; font-size: 16px; ">MENSAGEM: </strong> </P>
<p>{{message}}</p>